.css-binzgt {
  background-color: white;
  padding: 2rem;
  margin-top: 5rem !important;
  border-radius: 10px;
}

.css-ag7rrr-MuiTypography-root {
  color: black;
}

.css-lguxed-MuiAvatar-root {
  background-color: #f0e5d3 !important;
  color: black !important;
}

.css-1vhaqj4-MuiButtonBase-root-MuiButton-root {
  background-color: #f0e5d3 !important;
  color: black !important;
}

.css-11lq3yg-MuiGrid-root {
  justify-content: center;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  margin: 0 1rem !important;
  background-color: #ffffff !important;
  border-radius: 10rem !important;
  font-family: "Nunito", sans-serif !important;
  color: rgb(0, 0, 0) !important;
  font-weight: 800 !important;
}
